name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [ opened, synchronize, reopened ]

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        fetch-depth: 50
    - run: git fetch --tags

    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Pack
      if: github.ref == 'refs/heads/master'
      run: dotnet pack -c Debug -o Build

    - name: "Github packages: Nuget push"
      if: github.ref == 'refs/heads/master'
      run: dotnet nuget push --no-symbols --skip-duplicate -k ${{ secrets.GITHUB_TOKEN }} -s "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" Build/*.nupkg

    - name: "Github packages: Cleanup"
      if: github.ref == 'refs/heads/master'
      uses: stripethree/gpr-janitor@dist
      with:
        dry-run: false
        keep-versions: 25
        min-age-days: 14
        versions-to-fetch: 20
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
